<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>By:</strong>
  <%= @idea.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
